<section class='section' id='characters-list'>
  <div class='container'>
    <h2 class='visually-hidden'>List of Characters</h2>
    <div class='nothing-found-wrapper visually-hidden'>
      <svg class='nothing-found-bcg-icon' width='267' height='152'>
        <use href='./icons/icons.svg#icon-nothing-found'/>
      </svg>
      <p class='nothing-found-text'>Try looking for something else..</p>
    </div>
    <ul class='char-list'>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
    </ul>
  </div>
</section>