<section class='section' id='characters-list'>
  <div class='container'>
    <ul class='char-list'>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
      <li class='char-item'>
        <img src='./images/hero.png' alt='Black Widow' class='char-img'>
        <p class='char-name'>Black Widow</p>
      </li>
          <li class='char-item'>
            <img src='./images/hero.png' alt='Black Widow' class='char-img'>
            <p class='char-name'>Black Widow</p>
          </li>
          <li class='char-item'>
            <img src='./images/hero.png' alt='Black Widow' class='char-img'>
            <p class='char-name'>Black Widow</p>
          </li>
          <li class='char-item'>
            <img src='./images/hero.png' alt='Black Widow' class='char-img'>
            <p class='char-name'>Black Widow</p>
          </li>
          <li class='char-item'>
            <img src='./images/hero.png' alt='Black Widow' class='char-img'>
            <p class='char-name'>Black Widow</p>
          </li>
          <li class='char-item'>
            <img src='./images/hero.png' alt='Black Widow' class='char-img'>
            <p class='char-name'>Black Widow</p>
          </li>
          <li class='char-item'>
            <img src='./images/hero.png' alt='Black Widow' class='char-img'>
            <p class='char-name'>Black Widow</p>
          </li>
          <li class='char-item'>
            <img src='./images/hero.png' alt='Black Widow' class='char-img'>
            <p class='char-name'>Black Widow</p>
          </li>
          <li class='char-item'>
            <img src='./images/hero.png' alt='Black Widow' class='char-img'>
            <p class='char-name'>Black Widow</p>
          </li>
    </ul>
  </div>
</section>