<section class='section' id='filters'>
  <div class='container'>
    <form class='filters-form'>
      <label class='label'>
        <span class='label-text'>Comics</span>
        <input class='input' type='text' id='comics' >
      </label>
      <label class='label'>
        <span class='label-text'>Name Starts With</span>
        <input class='input' type='text' id='startsWith'>
      </label>
      <label class='label'>
        <span class='label-text'>Order by</span>
        <input class='input' type='text' id='sortBy'>
      </label>
      <label class='label'>
        <span class='label-text'>Date</span>
        <input class='input' type='text' id='date'>
      </label>
    </form>
  </div>
</section>