<section class='section' id='chars-pagination'>
  <div class='container'>
    <h2 class='visually-hidden'>Pagination for Characters List</h2>
  <button class='page-btn btn-prev' aria-label='Button Previous Page' disabled>
      <svg class='prev-icon' width='24' height='24'>
        <use href='./icons/icons.svg#icon-prev'/>
      </svg>
    </button>
      <ul class='pages-list'>
      <li class='page'>
        <button class='page-btn current'>1</button>
      </li>
      <li class='page'>
        <button class='page-btn'>2</button>
      </li>
      <li class='page'>
        <button class='page-btn'>3</button>
      </li>
      <li class='page'>
        <button class='page-btn'>...</button>
      </li>
      <li class='page'>
        <button class='page-btn'>9</button>
      </li>
      <li class='page'>
        <button class='page-btn'>10</button>
      </li>
    </ul>
       <button class='page-btn btn-next' aria-label='Button Next Page'>
         <svg class='next-icon' width='24' height='24'>
           <use href='./icons/icons.svg#icon-next'/>
         </svg>
       </button>
  </div>
</section>
