<section class='section' id='header'>
  <div class='container'>
    <h2 class='visually-hidden'>Header</h2>
    <a
      class='logo-link'
      href='#'
      aria-label='Site logo. To home page'
    >
      <svg class='logo' width='98' height='15'>
        <use href='./icons/icons.svg#icon-logo' />
      </svg>
    </a>

    <div class='common-btn search-wrapper'>
      <a class='search-link' href='./characters.html' aria-label='Begin search'>
        <svg class='search-icon' width='16' height='16'>
          <use href='./icons/icons.svg#icon-search' />
        </svg>
      </a>
      <label class='visually-hidden' for='search'>Search for hero name</label>
      <input class='search-input' id='search' type='text' placeholder='search'>
    </div>
  </div>
</section>