<section class='section' id='home-random-character'>
  <div class='container'>
    <h2 class='section-header'>Random characters</h2>
    <div class='random-hero-wrapper'>
      <img
        class='random-hero-img'
        src='./images/rand-hero.png'
        alt='Ant-Man'
        width='335'
        height='335'
        loading='lazy'>
      <ul class='random-hero-list'>
        <li class='random-hero-item active'>
          <h3 class='random-hero-name'>Ant-Man</h3>
          <p class='random-hero-desc'>Thief turned hero Scott Lang uses size manipulation tech to infiltrate bases and
            intimidate bad guys.</p>
        </li>
        <li class='random-hero-item'>
          <h3 class='random-hero-name'>The Wasp </h3>
          <p class='random-hero-desc'>Hope Van Dyne, daughter of the brilliant and heroic Ant-Man (Hank Pym) and The
            Wasp
            (Janet van Dyne), helps trains her father’s successor Scott Lang and secure the destruction of the
            Yellowjacket technology.</p>
        </li>
        <li class='random-hero-item'>
          <h3 class='random-hero-name'>Cassie Lang</h3>
          <p class='random-hero-desc'>As Scott Lang’s young daughter, Cassie is super proud of her dad’s heroics as
            Ant-Man.</p>
        </li>
        <li class='random-hero-item'>
          <h3 class='random-hero-name'>Kang The Conqueror</h3>
          <p class='random-hero-desc'>The character is most frequently depicted as an opponent of the Avengers and the
            Fantastic Four.</p>
        </li>
        <li class='random-hero-item'>
          <h3 class='random-hero-name'>Hank Pym</h3>
          <p class='random-hero-desc'>Hank Pym is a brilliant scientist who used his discovery of the shrinking Pym
            Particles, the suit that could survive the process, and insect communication waves, to turn himself into the
            original Ant-Man.</p>
        </li>
      </ul>
    </div>
    <a class='btn-all-chars-link' href='./characters.html'>
      <p class='btn-all-chars-text'>aLL Characters</p>
    </a>
  </div>
</section>