<div class='modal-backdrop' data-modal>
  <div class='modal container'>
    <svg class='close-btn' width='20' height='20'>
      <use href='./icons/icons.svg#icon-close' />
    </svg>
    <div class='hero-imgs-wrapper'>
      <img
        class='modal-hero-img'
        src='./images/hero.png'
        alt='Black Widow'
        width='295'
        height='387'>
      <ul class='frames-list'>
        <li class='frame-item'>
          <img
            class='frame-img'
            src='./images/frame.png'
            alt='Black Widow'
            width='80'
            height='80'>
        </li>
        <li class='frame-item'>
          <img
            class='frame-img'
            src='./images/frame.png'
            alt='Black Widow'
            width='80'
            height='80'>
        </li>
        <li class='frame-item'>
          <img
            class='frame-img'
            src='./images/frame.png'
            alt='Black Widow'
            width='80'
            height='80'>
        </li>
      </ul>
    </div>
    <div class='modal-hero-info-wrapper'>
      <div class='hero-header-wrapper'><h2 class='modal-hero-name'>Black Widow</h2>
        <p class='modal-date'>July 9, 2021</p>
      </div>
      <p class='modal-hero-desc'>A deadly assassin is closing in on Natasha Romanoff. Now Natasha must reunite with an
        unlikely group of spies from her past in order to survive and stop a lethal force from being unleashed on the
        world.</p>
      <h3 class='modal-comics-list-title'>List of comics</h3>
      <ul class='comics-list'>
        <li class='comics-item'>
          <img
            class='comics-cover'
            src='./images/comic.png'
            alt='Black Widow (2020)'
            width='263'
            height='263'>
          <h4 class='comics-title'>Black Widow (<span data-release-year>2020</span>)</h4>
          <p class='comics-author'>Kelly Thompson</p>
        </li>
        <li class='comics-item'>
          <img
            class='comics-cover'
            src='./images/comic.png'
            alt='Black Widow (2020)'
            width='263'
            height='263'>
          <h4 class='comics-title'>Black Widow (<span data-release-year>2020</span>)</h4>
          <p class='comics-author'>Kelly Thompson</p>
        </li>
        <li class='comics-item'>
          <img
            class='comics-cover'
            src='./images/comic.png'
            alt='Black Widow (2020)'
            width='263'
            height='263'>
          <h4 class='comics-title'>Black Widow (<span data-release-year>2020</span>)</h4>
          <p class='comics-author'>Kelly Thompson</p>
        </li>
      </ul>
    </div>
  </div>
  <p class='loader is-hidden'></p>
</div>
