#header.section {
  position: fixed;
  height: 68px;
  width: 100%;
  padding: 20px 0;
  z-index: 10;
}

#header.section.on-scroll {
  background-color: var(--color-bcg);
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  display: inline-block;
}

.logo {
}

.search-wrapper {
  display: inline-flex;
  width: 108px;
  height: 28px;
  gap: 8px;
  align-items: center;
  border: solid 1px var(--color-search);
}

.search-input {
  width: 52px;
  height: 14px;
  background-color: transparent;
  border:none;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16667;
  text-transform: uppercase;
  color: var(--color-text-primary);
}

.search-input::placeholder {
color: var(--color-text-primary);
}

.search-link {
  display: inline-block;
  fill: var(--color-text-primary);
  transform: scale(1);

  transition: transform var(--trsnsition-duration) ease-in-out;
}

.search-link:hover,
.search-link:focus {
  transform: scale(1.2);
  /*fill: var(--color-active);*/
}

/*
=================================================================
    TABLET
=================================================================
*/
@media only screen and (min-width: 768px) {
  .search-wrapper {
    width: 130px;
    height: 42px;
  }

  .search-input {
    width: 60px;
    height: 18px;
    font-size: 14px;
    line-height: 1.28571;
  }

  .search-icon {
    width: 18px;
    height: 18px;
  }
}